/** COLOR PALETTE:
  *
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black
  *
  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/* GLOBAL */

* {
    font-family: Roboto, 'Arial', sans-serif; /* #4 use #roboto #font*/

    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}
/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

/* LAYOUT Challenge 5; Splitview 40/60 */

#channels {
    /* Challenge 5; positioning the channels left with 40% width */
    position: absolute;
    height: 100%;
    width: 40%;

    /* background-color: #3F51B5; test background color */
}

#chat {
     /* Challenge 5; positioning the chat right with 60% width */
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}

#messages {
    /* Challenge 5; messages wrapped into div to enable proper scrolling */
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}

/* APP BAR */

h1 {
    background-color: #3F51B5;
    color: white;

    /* Challenge 5; general propertied for left and right app bar */
    height: 64px;
    font-size: 20px;
    font-weight: 500;

    /* Challenge 5; spacing of APP-BAR */
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;

    /* Challenge 5; alignment of duck MOOCUS IMG */
    /* necessary, so absolute position of IMG is relative to the APP-BAR */
    position: relative; 
}

h1#left-app-bar {
    /* Challenge 5; spacing of left APP-BAR */
    padding-left: 72px;
}

h1#left-app-bar img {
    /* Challenge 5; MOOCUS IMG bottom-align */
    position: absolute;
    left: 16px;
    bottom: 0;
}

h1 a {
    /* Challenge 6; fixes W3W-Link color in APP-BAR*/
    color: white;
}

h1 #channel-star {
    /* Challenge 6; liking filled  */
    position:absolute;
    right: 16px;
}

/* CHANNELS LIST */

ul {
    list-style-type: none;
    background-color: white;

    /* Challenge 5; positioning of channels list and scrolling */
    position: absolute;
    width: 100%;
    /* height of APP-BAR */
    top: 64px; 
    /* heigt of TAP-BAR */
    bottom: 72px; 
    /* scrolling for CHANNEL-List when needed */
    overflow-y: auto; 
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;

    /* Challenge 5; relative position to position icons of channel-meta in list */
    position: relative;
}

li .channel-meta {
    /* Challenge 5;  right-align icons of channel-meta */
    position: absolute;
    right: 16px;
    top: 12px;
}

li img {
    vertical-align: middle;
}

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/* TAB BAR */

/* Challenge 5; recycling TAB-BAR styles for emoji chat bar with appropriate css selector */
#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;

    /* Challenge 5; position of bottom tab bar */
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Challenge 5; flexify for buttons*/
    display: flex;
}

/* Challenge 5; recycling TAB-BAR-button styles for emoji button */
#tab-bar button, #chat-bar button {
    background-color: white;
    border: none;
    font-size: 13px;
    width: 33%;
    height: 72px;
    padding: 16px;

    /* Challenge 5; flexify of buttons by growing them equally by 1 */
    flex-grow: 1;
}

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* Challenge 5; CHAT BAR */

#chat-bar button {
    /* Challenge 5; override button styles for emoji button; flexify scaling overwrite */
    width: auto;
    flex-grow: 0;
}

#emojis {
    /* Challenge 5; emoji div properties */

    /* general properties */
    /* color and border */
    background-color:white;
    border: 1px solid black;

    /* position and size  */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font-size and left-align  */
    text-align: left;
    font-size: 28px;

    /* enabling scrolling, when needed */
    overflow-y: auto;

    /* Challenge 6; menu hidden onstart */
    display: none;
}

/* MESSAGES */

.message {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;

    /* Challenge 5; preparation for right/bottom alignment of button relative to  chat message */
    position: relative;
}

.message h3 {
    /* font size of message-meta */
    font-size: medium;

    /* Challenge 5; using flexbox to evenly distribute meta-info */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 a {
    /* w3w-location link color */
    color: black;

    /* Challenge 5; fixing width of w3w location  */
    width: 30%;
}

.message h3 em {
    /* Larger text, non-italic*/
    font-size: larger;
    font-style: normal;

    /* Challenge 5; fixing width of w3w location */
    width: 20%;
    text-align: right;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    /* TTL +5 MIN. button properties*/
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;

    /* Challenge 5; reposition button with right/bottom align absolute to message */
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.message.own {
    margin-left: 17.5%;
}
